<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net452" />
  <package id="MedallionShell" version="1.2.1" targetFramework="net452" />
  <package id="Moq" version="4.7.1" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.8-rc2" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.0.8-rc2" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net452" />
  <package id="Testura.Android" version="0.9.2" targetFramework="net452" />
</packages>